In [10]:
import sqlite3

# Connect to a database (or create it if it doesn't exist)
conn = sqlite3.connect('dialects_database.db')

In [13]:
# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# Query the information schema to get tables and their columns
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

for table in tables:
    print("Table:", table[0])
    cursor.execute("PRAGMA table_info('{}');".format(table[0]))
    columns = cursor.fetchall()
    print("Columns:")
    for column in columns:
        print(column)
    

# Close the connection

Table: id_text
Columns:
(0, 'id', 'INTEGER', 0, None, 0)
(1, 'text', 'TEXT', 0, None, 0)
Table: id_dialect
Columns:
(0, 'id', 'INTEGER', 0, None, 0)
(1, 'dialect', 'TEXT', 0, None, 0)

In [18]:
import pandas as pd
import sqlite3

#Fetch the data from a specific table (assuming the table name is 'dialects')
query = " SELECT * FROM id_text "
df_id_text = pd.read_sql_query(query, conn)
df_id_text

                         id                                               text
0       1009754958479151232  @toha_Altomy @gy_yah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ†. Ù„Ùˆ Ø§...
1       1009794751548313600  @AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†!!!\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© ...
2       1019989115490787200  @smsm071990 @ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±...
3       1035479791758135168  @AboryPro @lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ©. Ø§ÙˆÙ„Ø§...
4       1035481122921164800  @lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§...
...                     ...                                                ...
147720   982775354405376000  Ø§Ù„Ù†Ø§Ø³ Ø¯ÙŠ Ø¨ØªÙ†ÙØ® ÙÙŠ Ù‚Ø±Ø¨Ø© Ù…Ù‚Ø¯ÙˆØ¯Ø© Ø¨Ø§Ù„Ø¯Ø§Ø±Ø¬ÙŠ ÙƒØ¯Ù‡  Ø§Ù„...
147721   980728852224860160  @Wail_Hamza @amiromer Ø§Ù†Øª Ø¹Ø§ÙŠØ´ ÙˆÙŠÙ† Ø¨Ø±Ù‡ Ø§Ù„Ø³ÙˆØ¯Ø§Ù†...
147722   975502734668500992  Ù…Ø§Ø§Ø­Ø±Ù… Ù†ÙØ³ÙŠ Ù…ÙŠØ³ÙŠ Ø­Ø±ÙŠÙ ÙˆÙ„Ø¹Ø§Ø¨ Ø¨Ø±Ø¶Ùˆ ..\nÙ…Ø¯Ø±ÙŠØ¯ÙŠ ÙˆØ§...
147723   980207908641263616  ÙŠØ§Ø®ÙŠ Ø¯ÙŠÙ„ Ù…Ø§Ø®Ù„Ùˆ  Ù„Ù„Ø´ÙŠØ·Ø§Ù† ÙˆØ¥Ø¨Ù„ÙŠØ³ Ø´ÙŠ Ù„ÙƒÙ† ÙŠØ±ÙˆØ­Ùˆ ÙˆÙŠ...
147724   981080482380238848     @abdomaged127 Ø§Ù„Ù†Ø¨ÙŠ ÙÙŠÙƒ ØµØ¯Ù…ØªÙ†ÙŠ ÙŠØ§Ø®ÙŠ Ø¹Ø§ÙˆØ² ØªØ¹ÙˆÙŠØ¶

[147725 rows x 2 columns]

In [19]:
#Fetch the data from a specific table (assuming the table name is 'dialects')
query = " SELECT * FROM id_dialect "
df_id_dialect = pd.read_sql_query(query, conn)
df_id_dialect

                         id dialect
0       1009754958479151232      LY
1       1009794751548313600      LY
2       1019989115490787200      LY
3       1035479791758135168      LY
4       1035481122921164800      LY
...                     ...     ...
147720   982775354405376000      SD
147721   980728852224860160      SD
147722   975502734668500992      SD
147723   980207908641263616      SD
147724   981080482380238848      SD

[147725 rows x 2 columns]

In [21]:
query = " SELECT dialect , text FROM id_dialect JOIN id_text ON id_text.id = id_dialect.id  "
df= pd.read_sql_query(query, conn)
df

       dialect                                               text
0           LY  @toha_Altomy @gy_yah Ù‚Ù„ÙŠÙ„ÙŠÙ† Ø§Ø¯Ø¨ ÙˆÙ…Ù†Ø§ÙÙ‚ÙŠÙ†. Ù„Ùˆ Ø§...
1           LY  @AlmFaisal ğŸ˜‚ğŸ˜‚ Ø§Ù„Ù„ÙŠØ¨ÙŠÙŠÙ† Ù…ØªÙ‚Ù„Ø¨ÙŠÙ†!!!\nØ¨Ø³ Ø¨Ø§Ù„Ù†Ø³Ø¨Ø© ...
2           LY  @smsm071990 @ALMOGRBE ÙƒÙ„ 20 ØªØ§Ù†ÙŠÙ‡ Ø´Ø§Ø¨ Ù„ÙŠØ¨ÙŠ Ø¨ÙŠØ±...
3           LY  @AboryPro @lyranoo85 Ø±Ø§Ù†ÙŠØ§ Ø¹Ù‚Ù„ÙŠØªÙƒ Ù…ØªØ®Ù„ÙØ©. Ø§ÙˆÙ„Ø§...
4           LY  @lyranoo85 Ø´ÙƒÙ„Ùƒ Ù…ØªØ¹Ù‚Ø¯Ø© Ø¹Ù„Ø´Ø§Ù† Ø§Ù„Ø±Ø§Ø¬Ù„ Ù„ÙŠ ØªØ­Ø¨ÙŠÙ‡ Ø§...
...        ...                                                ...
147720      SD  Ø§Ù„Ù†Ø§Ø³ Ø¯ÙŠ Ø¨ØªÙ†ÙØ® ÙÙŠ Ù‚Ø±Ø¨Ø© Ù…Ù‚Ø¯ÙˆØ¯Ø© Ø¨Ø§Ù„Ø¯Ø§Ø±Ø¬ÙŠ ÙƒØ¯Ù‡  Ø§Ù„...
147721      SD  @Wail_Hamza @amiromer Ø§Ù†Øª Ø¹Ø§ÙŠØ´ ÙˆÙŠÙ† Ø¨Ø±Ù‡ Ø§Ù„Ø³ÙˆØ¯Ø§Ù†...
147722      SD  Ù…Ø§Ø§Ø­Ø±Ù… Ù†ÙØ³ÙŠ Ù…ÙŠØ³ÙŠ Ø­Ø±ÙŠÙ ÙˆÙ„Ø¹Ø§Ø¨ Ø¨Ø±Ø¶Ùˆ ..\nÙ…Ø¯Ø±ÙŠØ¯ÙŠ ÙˆØ§...
147723      SD  ÙŠØ§Ø®ÙŠ Ø¯ÙŠÙ„ Ù…Ø§Ø®Ù„Ùˆ  Ù„Ù„Ø´ÙŠØ·Ø§Ù† ÙˆØ¥Ø¨Ù„ÙŠØ³ Ø´ÙŠ Ù„ÙƒÙ† ÙŠØ±ÙˆØ­Ùˆ ÙˆÙŠ...
147724      SD     @abdomaged127 Ø§Ù„Ù†Ø¨ÙŠ ÙÙŠÙƒ ØµØ¯Ù…ØªÙ†ÙŠ ÙŠØ§Ø®ÙŠ Ø¹Ø§ÙˆØ² ØªØ¹ÙˆÙŠØ¶

[147725 rows x 2 columns]

In [22]:
df.to_csv('dialect_text.csv', index=False)  # 'output.csv' is the name of the CSV file you want to save